* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif
}

body {
    position: relative
}

input {
    outline: 0
}
#div-load{
    display: none;
}
.section {
    height: 100vh;
    display: flex
}

.sidebar {
    position: absolute;
    z-index: 300;
    right: 6%;
    top: 6%;
    height: 80vh;
    width: 30%
}

.sidebar nav ul {
    padding: 0;
    margin: auto;
    height: 60vh
}

.sidebar nav ul li {
    display: block;
    list-style: none;
    padding: 0;
    margin-bottom: 3vh;
    margin-top: 1vh
}

.sidebar nav ul li a {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    padding: 6px 20px;
    position: relative;
    color: #000;
    font-size: .8vw;
    text-transform: uppercase
}

.link-artiste, .link-connexion, .link-contact, .link-entreprise, .link-galerie, .link-home {
    text-decoration: none;
    margin: -2%;
    color: #000;
    font-size: .8vw;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    position: relative
}

.singe-artiste, .singe-contact, .singe-entreprise, .singe-galerie, .singe-home {
    width: 9%;
    padding: 1%
}

.link-entreprise {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    -moz-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    transition: all .5s cubic-bezier(.6, 0, .5, 1)
}

.sidebar nav ul li a:hover .link-entreprise {
    visibility: visible;
    opacity: 1;
    height: 8vh;
    transition-delay: .4s;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.sidebar nav ul li a:hover .singe-entreprise {
    opacity: .7;
    transition: .4s
}

.singe-artiste {
    transition: .7s
}

.link-artiste {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    -moz-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    transition: all .5s cubic-bezier(.6, 0, .5, 1)
}

.sidebar nav ul li a:hover .link-artiste {
    visibility: visible;
    opacity: 1;
    height: 8vh;
    transition-delay: .4s;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.sidebar nav ul li a:hover .singe-artiste {
    opacity: .7;
    transition: .4s
}

.link-galerie {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    -moz-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    transition: all .5s cubic-bezier(.6, 0, .5, 1)
}

.sidebar nav ul li a:hover .link-galerie {
    visibility: visible;
    opacity: 1;
    height: 8vh;
    transition-delay: .4s;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.sidebar nav ul li a:hover .singe-galerie {
    opacity: .7;
    transition: .4s
}

.link-home {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    -moz-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    transition: all .5s cubic-bezier(.6, 0, .5, 1)
}

.sidebar nav ul li a:hover .link-home {
    visibility: visible;
    opacity: 1;
    height: 8vh;
    transition-delay: .4s;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.sidebar nav ul li a:hover .singe-home {
    opacity: .7;
    transition: .4s
}

.link-contact {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    -moz-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    transition: all .5s cubic-bezier(.6, 0, .5, 1)
}

.sidebar nav ul li a:hover .link-contact {
    visibility: visible;
    opacity: 1;
    height: 8vh;
    transition-delay: .4s;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.sidebar nav ul li a:hover .singe-contact {
    opacity: .7;
    transition: .4s
}

.singe-active {
    display: none
}

.link-active {
    padding: 10px 20px;
    visibility: visible;
    opacity: 1;
    height: 8vh;
    transition-delay: .5s
}

.link-connexion {
    padding: 10px 20px;
    height: 14vh;
    text-align: right;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    -moz-transition: all .5s cubic-bezier(.6, 0, .5, 1);
    transition: all .5s cubic-bezier(.6, 0, .5, 1)
}

.mc-field-group, form h3 {
    text-align: left
}

.all-content {
    width: 100%;
    transition: .5s
}

.nav-active {
    width: 90%;
    transition: .5s;
    transition-delay: .9s
}

.sidebar nav ul li:first-child a {
    padding-top: 0
}

.sidebar nav ul li:last-child a {
    padding-bottom: 0
}

h1 {
    margin-bottom: .8vw;
    font-size: 2vw
}

.orange {
    color: #FDA229
}

#div-btn-addprojet a, #div-btn-artent a {
    background-color: #fff;
    color: #000;
    outline: 0;
    text-decoration: none
}

#div-logo {
    width: 7%;
    margin: auto;
    position: fixed;
    top: 2vw;
    left: 2vw
}

.section-home {
    height: 100vh;
    display: flex
}

#monkey, label {
    display: block
}

.first-section-content {
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    margin-left: 3vw;
    opacity: 0;
    transition: .2s
}

.first-section-content h2 {
    font-size: 1.8vw;
    line-height: 2.8vw;
    font-weight: 700;
    text-transform: uppercase
}

.first-section-content p {
    font-size: 1vw;
    line-height: 1.3vw;
    width: 50%;
    font-weight: 500;
    margin-top: 2%
}

#div-btn-addprojet a, #div-btn-artent a, #div-btn-artent a:hover, .div-btn-proj button {
    font-weight: 700;
    font-size: .8vw;
    margin-right: 2vw;
    border: 3px solid #000;
    cursor: pointer;
    text-transform: uppercase
}

#div-btn-artent, .div-btn-proj {
    margin-top: 3vw;
    -webkit-appearance: none
}

#first-section-content-2 {
    background-image: url(../img/home.svg);
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .4s
}

#div-btn-artent {
    justify-content: space-between
}

#div-btn-artent a {
    padding: 1% 5%;
    transition: .5s
}

#div-btn-addprojet a {
    padding: 1% 7%;
    transition: .5s
}

.larg-form {
    width: 90%
}

#div-btn-artent a:hover {
    background-color: #000;
    padding: 1% 7%;
    text-decoration: none;
    color: #fff;
    outline: 0;
    transition: .5s
}

.div-btn-proj button {
    background-color: #fff;
    padding: 1% 2%;
    transition: .5s;
    -webkit-appearance: none
}

#mc-embedded-subscribe:hover, .div-btn-proj button:hover {
    background-color: #000;
    color: #fff
}

.div-btn-proj button:hover {
    transition: .5s
}

.five-section-content, .fourth-section-content, .second-section-content, .third-section-content {
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    margin-left: 3vw;
    opacity: 0;
    transition: .2s
}

.connexion-section-content {
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    margin-left: 3vw;
    opacity: 1
}

#connection, #copyright, #inscription, #rs {
    width: 50%
}

#five-section-content-2, #fourth-section-content-2, #second-section-content-2, #third-section-content-2 {
    opacity: 0;
    transition: .3s;
    background-repeat: no-repeat
}

.second-section-content h3 {
    font-size: 1.9vw;
    line-height: 2.8vw;
    margin-bottom: 3vw;
    text-transform: uppercase
}

.five-section-content h3, .fourth-section-content h3, .third-section-content h3 {
    font-size: 1.9vw;
    line-height: 2.8vw;
    margin-bottom: 3vw
}

.five-section-content p, .fourth-section-content p, .second-section-content p, .third-section-content p {
    font-size: 1vw;
    line-height: 1.5vw;
    width: 50%;
    font-weight: 500
}

#form-co h2, #form-ins h2, form h3 {
    line-height: 2.8vw
}

#second-section-content-2 {
    background-image: url(../img/home-entreprise.svg);
    width: 30%;
    background-size: 100%
}

#third-section-content-2 {
    background-image: url(../img/home-artiste.svg);
    width: 30%;
    background-size: 100%
}

#five-section-content-2 {
    background-image: url('../img/home gallerie.svg');
    width: 30%;
    background-size: 100%
}

#fourth-section-content-2 {
    background-image: url(../img/home-newletters.svg);
    width: 30%;
    background-size: 100%
}

.img-fadein {
    transition: .4s !important;
    transition-delay: .5s !important;
    opacity: 1 !important
}

#connexion-section-2 {
    background-image: url(../img/connexion.jpg);
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat
}

#add-projet-section-2 {
    background-image: url(../img/IMG1-ADDPROJET.jpg);
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat
}

#add-projet-section-3 {
    background-image: url(../img/IMG2-ADDPROJET.jpg);
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat
}

#third-section-content {
    width: 70%;
    margin: auto;
    font-size: 2vw;
    text-align: center;
    font-weight: 700
}

#fourth-section-content {
    width: 70%;
    margin: auto;
    font-size: 1vw;
    text-align: center;
    font-weight: 600
}

.position-finale {
    opacity: 1;
    transition: .4s;
    transition-delay: .5s
}

#mc-embedded-subscribe, #mc-embedded-subscribe:hover, .form-group-co button {
    transition: .5s;
    -webkit-appearance: none
}

#monkey {
    width: 3%;
    margin: auto;
    position: relative;
    top: 23vh;
    animation-name: animation-monkey;
    animation-duration: 4s;
    animation-iteration-count: infinite
}

@keyframes animation-monkey {
    0%, 100% {
        top: 23vh
    }
    50% {
        top: 26vh
    }
}

form h3 {
    font-size: 1.9vw;
    margin-bottom: 3vw;
    font-weight: 600
}

#mce-EMAIL {
    border: none;
    border-bottom: 3px solid #000;
    width: 30%;
    padding: .8%;
    -webkit-appearance: none
}

::placeholder {
    margin-left: 5%;
    font-size: 1vw;
    color: #000
}

#mce-EMAIL[type=text] {
    font-size: 30px
}

#mc-embedded-subscribe {
    background-color: #fff;
    padding: .8% 7%;
    border: 3px solid #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8vw;
    margin-top: 3%;
    cursor: pointer
}

#clear {
    position: relative;
    width: 54%;
    margin: auto;
    height: 30px
}

#div-logo-co, .left-bar, footer {
    position: absolute
}

#mc_embed_signup_scroll {
    margin-left: 3vw
}

#copyright a {
    color: #000;
    text-decoration: none
}

#rs a, .link-co {
    text-decoration: underline
}

#rs {
    margin-left: 17%
}

#rs a {
    color: #000;
    padding: 8%
}

footer {
    width: 95%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    bottom: 0;
    color: #000
}

footer ul {
    display: flex;
    list-style: none;
    font-weight: 700;
    padding: 1%;
    justify-content: space-around
}

.deconnexion, .form-group-co {
    justify-content: space-between
}

#background-log {
    display: flex;
    width: 100vw;
    height: 100vh
}

#section-log {
    width: 50vw;
    height: 40vh;
    margin: auto;
    display: flex
}

#connection form, #inscription form {
    width: 70%;
    margin: auto
}

#connection input, #inscription input {
    width: 100%;
    border: 1px solid #000;
    border-radius: .5vw;
    padding: 3%
}

#connection label, #inscription label {
    margin-bottom: 2%
}

.form-group-co {
    margin-top: 6%;
    display: flex;
    align-content: flex-end
}

.btn-primary {
    background-color: #679BD7;
    color: #fff;
    border: none;
    padding: 3% 10%;
    -webkit-border-radius: .5vw;
    -moz-border-radius: .5vw;
    border-radius: .5vw;
    font-size: 1vw
}

.none {
    display: none
}

#form-co, #form-ins {
    width: 80%;
    margin: auto
}

.form-group-co input {
    border: none;
    border-bottom: 3px solid #000;
    width: 60%;
    padding: .8%;
    border-radius: 0
}

#form-co h2 {
    font-size: 1.9vw;
    margin-bottom: 3vw;
    text-transform: uppercase
}

#section-co, #section-ins {
    display: flex;
    height: 100vh
}

.form-group-co button {
    background-color: #fff;
    padding: 1.2% 7%;
    border: 3px solid #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8vw;
    margin-left: 37%;
    cursor: pointer
}

.form-group-co button:hover {
    background-color: #000;
    color: #fff;
    transition: .5s
}

.form-group-ins button, .underline {
    background-color: #fff;
    transition: .5s
}

.link-co {
    text-align: right;
    margin: 3% auto auto;
    color: #679bd7;
    display: block;
    width: 25%;
    font-size: 1vw
}

.inscription-co {
    text-decoration: none;
    color: #000;
    margin-top: 8%;
    display: block;
    width: 60%;
    font-size: 1.1vw
}

.underline {
    height: .3vh;
    width: 0%;
    margin: 1% auto auto
}

.link-co:hover .underline {
    width: 50%;
    transition: .5s
}

.link-inscription {
    text-decoration: underline
}

.deconnexion, .profil-container a, .save, .section-error a {
    text-decoration: none
}

#div-logo-co {
    width: 10%;
    top: 3%;
    left: 3%
}

.form-group-ins input {
    width: 80%;
    padding-bottom: 2%;
    margin-top: 6%;
    border: 0;
    border-radius: 0;
    border-bottom: 3px solid #000
}

#form-ins h2 {
    font-size: 1.9vw;
    margin-bottom: 2vw;
    text-transform: uppercase
}

* .div-check-box {
    display: flex;
    width: 50%
}

.div-check-box input {
    margin-top: auto;
    margin-bottom: auto;
    width: 15%
}

.form-group-ins button {
    padding: 1.2% 7%;
    border: 3px solid #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8vw;
    margin-right: 48%;
    cursor: pointer;
    margin-top: 4%;
    -webkit-appearance: none
}

.form-group-ins button:hover {
    background-color: #000;
    color: #fff;
    transition: .5s;
    -webkit-appearance: none
}

#footer {
    display: flex
}

#body {
    background-color: #fff
}

.button-burger, .closeButton, .nav-mobile {
    display: none
}

#check-box, .div-check, .section-profil {
    display: flex
}

input::placeholder {
    font-size: 1vw
}

.div-check {
    font-size: 1vw;
    flex-direction: row;
    width: 40%
}

#check-box {
    margin-top: 3%;
    margin-left: -10%;
    flex-direction: row
}

#submit-ins {
    width: 100%;
    margin-top: 6%;
    margin-left: -15%;
    -webkit-appearance: none
}

#title-ml {
    font-family: Montserrat-Regular, sans-serif;
    color: #000;
    font-size: 1.6vw;
    font-weight: 700;
    margin-top: 8%
}

#section-ml {
    width: 70%;
    margin-left: 5%
}

#text-ml {
    font-family: Montserrat-Regular, sans-serif;
    color: #000;
    font-size: .9vw
}

.deco-img {
    width: 10%
}

.deco-txt {
    width: 80%
}

.left-bar {
    left: 0;
    background-color: #f6f6f6;
    height: 100vh;
    width: 9vw
}

.left-bar-mobile {
    display: none
}

.left-bar button, .left-bar-mobile button {
    display: block;
    background-color: transparent;
    border: none;
    transition: .7s;
    height: 5vh;
    opacity: .7;
    cursor: pointer;
    outline: 0
}

.left-bar-mobile button {
    margin: 16% auto auto
}

.left-bar button {
    margin: auto
}

.cont-btn-profil {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: 2%;
    height: 8vh
}

.img-fleche-gauche {
    margin-right: 2%;
    height: 3vh
}

.img-deconnexion {
    width: 100%
}

.deconnexion {
    position: absolute;
    bottom: 2%;
    left: 8%;
    color: #000;
    font-weight: 500;
    display: flex
}

.container-img, .flex-form {
    justify-content: space-between
}

.deconnexion:hover {
    opacity: .7;
    transition: .4s
}

.side-color {
    position: absolute;
    background-color: #679bd7;
    left: -2%;
    top: 0;
    width: 5%;
    height: 8vh
}

.orange-background {
    background-color: #fda229 !important
}

.blue {
    color: #679bd7 !important
}

.left-button-active {
    opacity: 1 !important;
    font-weight: 600 !important
}

.content-left {
    margin: 6vh auto auto;
    width: 100%;
    text-align: center
}

.profil-container {
    width: 55%;
    height: auto;
    margin: auto auto auto 21%
}

#div-logo-profil {
    width: 80%;
    margin: auto;
    top: 2vw;
    left: 2vw
}

.complete-profil {
    width: 70%
}

.flex-form div {
    width: 45%
}

.complete-profil label {
    margin-bottom: 2%
}

.flex-form {
    display: flex;
    margin-top: 1%;
    margin-bottom: 2vh
}

.profil-container h2 {
    color: #fda229;
    margin-bottom: 3%;
    margin-top: 6%;
    font-size: 1.5vw;
    font-weight: 600
}

.no-visible-form {
    visibility: hidden
}

.section-profil input {
    width: 100%;
    padding: .4vw;
    border: .5px solid #000
}

.section-profil textarea {
    width: 100%;
    border: 0.5px solid #000;
    resize: none;
    height: 9vh;
    padding: 0.5vw;
}

.section-profil form {
    width: 70%
}

.section-profil label {
    margin-bottom: 2%;
    font-size: .8vw;
    margin-top: 2%
}

.section-profil select:after {
    padding: .5vw;
    border: 1px solid #000;
    background-color: transparent;
    border-radius: 0
}

.flex-btn {
    display: flex;
    justify-content: flex-end;
    margin-left: .8vw;
    width: 100%;
    margin-top: 3%
}

#ident-ent {
    height: 45%
}

#ident-ent h3 {
    margin-bottom: 3%;
    font-size: 1.5vw;
    margin-top: 3%;
}
.deco-txt h3{
    font-size: 0.9vw;
}

.image-right {
    width: 30vw;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .4s;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0
}

#image-right-art {
    background-image: url(../img/IMG-ESPACE-ARTISTE.jpg)
}

#image-right-ent {
    background-image: url(../img/IMG-ESPACE-ENTREPRISE.jpg)
}

.save {
    background-color: #fff;
    padding: .7vw 4vw;
    border: 3px solid #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8vw;
    cursor: pointer;
    color: #000;
    outline: 0;
    transition: .5s;
    right: -1vw;
    margin-top: 2%
}

.save:hover {
    background-color: #000;
    color: #fff;
    transition: .4s
}

#profil_ent_secteur {
    width: 50%;
    color: grey;
    font-size: 1.1vw;
    padding: 1%
}

.btn-form-profil {
    position: relative;
    margin-top: 1vw
}

.side-visible {
    width: .4vw;
    transition: .7s
}

.h3-profil {
    font-size: 1.3vw;
    font-weight: 600
}

.profil-container a {
    color: #000;
    position: absolute;
    display: flex;
    width: 65%;
    top: 7%
}

#realisations_realisations {
    border: none
}

.file_label {
    display: none;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 3vw;
    width: 3vw;
    height: 3vw;
    line-height: 40px;
    background-color: #fda229;
    color: #FFF;
    text-align: center;
    padding: 5px;
    transition: all .3s ease-in-out
}

.file_label:hover {
    background-color: #f39c12;
    color: #fff
}

.fa {
    margin-right: 5px
}

#label_real {
    font-size: 3vw
}

.div-img {
    width: 30%
}

.container-img {
    display: flex
}

.div-img img {
    width: 100%
}

#img-real {
    width: 80%
}

#realisations {
    margin-top: 5%;
    margin-bottom: 5%
}

#realisations_save {
    position: initial;
    display: block;
    margin-bottom: auto;
    margin-top: auto
}

#form-content-real {
    position: relative;
    display: flex;
    justify-content: space-between
}

#form-contact {
    width: 80%;
    margin-top: 3%
}

.form-group-contact {
    width: 100%;
    margin-top: 3%
}

.input-addprojet {
    width: 100% !important
}

.p-addprojet {
    margin-bottom: 3% !important
}

.form-group-contact input {
    width: 50%;
    padding-bottom: 1%;
    border: 0;
    border-radius: 0;
    border-bottom: 3px solid #000
}

.form-group-contact textarea {
    width: 90%;
    padding-bottom: 1%;
    resize: none;
    margin-top: 1vh;
    border-radius: 0;
    height: 15vh;
    border: 3px solid #000
}
#label-text{
    margin-top: 6vh;
}

.button-projet, .form-group-contact-btn button {
    border: 3px solid #000;
    text-transform: uppercase;
    -webkit-appearance: none;
    cursor: pointer
}

#first-section-allprojets-2, #first-section-error-2 {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    right: 0
}

.form-group-contact-btn button {
    background-color: #fff;
    width: 17vw;
    color: #000;
    padding: 2% 7%;
    font-weight: 700;
    font-size: 1vw;
    transition: .5s
}

.form-group-contact button:hover, .form-group-contact-btn :hover {
    background-color: #000;
    color: #fff
}

.form-group-contact-btn {
    width: 90%;
    margin-top: 3%;
    display: flex;
    justify-content: flex-end
}

.form-group-contact button:hover {
    transition: .5s;
    -webkit-appearance: none
}
.span-path{
    color: #a4a4a4;
    font-weight: 700;
    font-size: 0.8vw;
}

.h3-addprojet {
    margin-top: 4%
}

.first-section-allprojets {
    margin-top: 8%;
    margin-bottom: auto;
    width: 52%;
    margin-left: 3vw
}

#singe-404, .section-error {
    margin-top: auto;
    margin-bottom: auto
}

#first-section-allprojets-2 {
   /* background-image: url(../img/IMG4-HOME-ARTISTE.jpg);*/
    width: 30vw;
    opacity: 1;
    position: fixed;
    transition: .4s
}

#div-projet {
    margin-top: 4%;
    margin-bottom: 8%
}

#p-allprojet {
    font-size: 1.2vw;
    font-weight: 500;
    margin-bottom: 5%
}

.projet-type {
    font-size: 1.3vw;
    font-weight: 600
}

.projet-name {
    font-size: .9vw;
    font-weight: 500
}

.projet-info p {
    font-size: .8vw;
    font-weight: 400
}

.more-weight {
    font-weight: 500
}

.projet-description p {
    font-size: .9vw;
    font-weight: 500
}

.lieu-date p {
    font-size: .8vw
}

.button-projet {
    background-color: #fff;
    padding: 2% 5%;
    font-weight: 600;
    font-size: .9vw;
    margin-right: 2vw;
    transition: .5s
}

.button-projet:hover {
    color: #fff;
    background-color: #000
}

.sidebar-allprojet {
    position: fixed !important
}

.button-orange {
    border: 3px solid #fda229 !important;
    color: #fda229 !important
}

.button-orange:hover {
    border: 3px solid #fda229 !important;
    background-color: #fda229 !important;
    color: #fff !important
}

.colonne-1 {
    width: 30% !important
}

.colonne-2 {
    width: 70% !important
}

.logo-allprojet-mobile {
    position: absolute !important
}

.section-error {
    margin-left: 10vw
}

.section-error p {
    font-weight: 600;
    font-size: 2.5vw
}

.section-error h2 {
    font-weight: 600;
    font-size: 4vh;
    line-height: 4vh;
    margin-left: 1vw
}

.h2-add-cand, .section-error a {
    font-weight: 700;
    text-transform: uppercase
}

#singe-404 {
    height: 4vh
}

.section-error a {
    background-color: #fff;
    padding: 2% 10%;
    border: 3px solid #000;
    font-size: 1.2vw;
    display: block;
    cursor: pointer;
    transition: .5s;
    width: 20%;
    text-align: center;
    margin-top: 10vh;
    -webkit-appearance: none;
    color: #000
}

.section-error a:hover {
    background-color: #000;
    color: #fff;
    transition: .5s
}

.flex-error {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh
}

#first-section-error-2 {
    background-image: url(../img/erreur.jpg);
    width: 30vw;
    position: fixed
}

.h2-add-cand {
    font-size: 1.8vw;
    line-height: 2.8vw
}

.border-bottom {
    border: 0;
    border-bottom: 2px solid #000;
    width: 100%;
    padding-bottom: 1vh
}

#candidatures {
    width: 35%;
    margin-top: 5%
}

#candidatures textarea {
    width: 100%;
    resize: none;
    height: 10vh;
    border: 2px solid #000
}

#candidatures label {
    margin-bottom: .5vh
}

.select-add-cand {
    width: 50%;
    padding: 2% 5% 2% 2%;
    font-size: 1vw;
    font-weight: 400;
    border: 2px solid #000
}

.div-form-add-cand {
    margin-top: 2vw
}

#candidatures_orientation {
    display: flex;
    width: 60%;
    justify-content: space-between
}

.radio {
    margin-right: 1vw
}

.option {
    margin-right: 2vw
}

.btn-text-add-cand {
    margin-top: 2vh;
    display: flex;
    width: 0%;
    font-size: .8vw;
    justify-content: space-between
}

.btn-text-add-cand p {
    font-size: .7vw
}

.btn-text-add-cand button {
    background-color: #fff;
    padding: 4% 35%;
    border: 3px solid #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8vw;
    margin-right: 2vw;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    outline: 0;
    transition: .5s
}
#mc_embed_signup div.mce_inline_error{
    width: 30%;
    transition: 0.4s;
}

.cookie-notice {
    box-sizing: border-box;
    position: fixed;
    bottom: 32px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    padding: 12px;
    background: white;
    box-shadow: 0 2px 4px rgba(20, 40, 80, 0.2);
    border-radius: 3px;
    font-size: 0.86em;
    line-height: 1.5;
    color: #456;
    transform: translate3d(0, 0, 0);
    animation: cookie-notice-fadein 500ms ease;
}

@keyframes cookie-notice-fadein {
    0% { transform: translate3d(0, 128px, 0); opacity: 0; }
    100% { transform: translate3d(0, 0, 0); opacity: 100; }
}

.cookie-notice-message > p {
    margin: 0;
    padding: 0;
    width: 80%;
}

.cookie-notice > button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    width: 20%;
    color: #679bd7 ;
    position: absolute;
    top: 8px;
    right: 0;
    width: 18%;
    bottom: 8px;
    cursor: pointer;
    font-weight: bold;
    border-left: solid 1px rgba(0, 40, 80, 0.1);
    outline: none;
}

.cookie-notice > button:hover {
    color: #4ba6ff;
}

.cookie-notice > button:active {
    color: #1873cc;
}
.loader {
    background-color: #fff;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation:
            spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: #000;
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: #000;
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color:  #000;
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color:  #000;
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color:  #000;
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


.white-popup {
    position: absolute;
    background: #FFF;
    padding: 2vw;
    font-size: 0.5vw;
    margin: auto;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    width: 15vw;
    max-width: 500px;
    transition: 1s all;
    box-shadow:0 2px 4px rgba(20, 40, 80, 0.2);
    text-align: center;
    color: #679bd7;
    border-radius: 3px;
}

.mfp-bg {}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}


/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}


/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    transition: all 0.4s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}