*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    position: relative;

}

.section{
    height: 100vh;
    display: flex;
}

.sidebar {
    position: absolute;
    z-index: 300;
    right: 6%;
    top: 6%;
    height: 80vh;
    width: 30%;
}

.sidebar nav ul {
    padding: 0;
    margin: auto;
    height: 60vh;
}

.sidebar nav ul li {
    display: block;
    list-style: none;
    padding: 0;
    margin-bottom: 3vh;
    margin-top: 1vh;
}
/*
.sidebar nav ul li a {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    color: #000;
    font-size: 0.8vw;
    text-transform:  uppercase;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
}*/

.sidebar nav ul li a {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    padding: 6px 20px;
    position: relative;
    color: #000;
    font-size: 0.8vw;
    text-transform:  uppercase;

}

.singe-entreprise {
    width: 9%;
    padding: 1%;
}

.link-entreprise {
    display: none;
    text-decoration: none;
    margin: -2%;
    padding: 10px 20px;
    position: relative;
    color: #000;
    height: 8vh;
    font-size: 0.8vw;
    text-transform:  uppercase;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
}

.singe-artiste {
    width: 9%;
    padding: 1%;
}

.link-artiste {
    display: none;
    text-decoration: none;
    margin: -2%;
    padding: 10px 20px;
    position: relative;
    color: #000;
    height: 8vh;
    font-size: 0.8vw;
    text-transform:  uppercase;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
}

.singe-galerie {
    width: 9%;
    padding: 1%;
}

.link-galerie {
    display: none;
    text-decoration: none;
    margin: -2%;
    padding: 10px 20px;
    position: relative;
    color: #000;
    height: 8vh;
    font-size: 0.8vw;
    text-transform:  uppercase;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
}

.singe-home {
    width: 9%;
    padding: 1%;
}

.link-home {
    display: none;
    text-decoration: none;
    margin: -2%;
    padding: 10px 20px;
    position: relative;
    color: #000;
    height: 8vh;
    font-size: 0.8vw;
    text-transform:  uppercase;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
}

.singe-contact {
    width: 9%;
    padding: 1%;
}

.link-contact {
    display: none;
    text-decoration: none;
    margin: -2%;
    padding: 10px 20px;
    position: relative;
    color: #000;
    height: 8vh;
    font-size: 0.8vw;
    text-transform:  uppercase;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
}

.singe-active {
    display: none;
}

.link-active {
    display: block;
}


.link-connexion {
    text-decoration: none;
    margin: -2%;
    padding: 10px 20px;
    position: relative;
    color: #000;
    height: 14vh;
    text-align: right;
    font-size: 0.8vw;
    text-transform:  uppercase;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
}


/*
.sidebar nav ul li a::after {
    content: attr(data-text);
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background-color: #242121;
    display: block;
    height: 100vh;
    font-size: 30px;
    line-height: 10vh;
    font-weight:  700;
    text-transform: uppercase;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
}
.sidebar nav ul li a:hover:after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}
.sidebar nav ul li a:hover div {
    opacity: 0;
    -webkit-transform: translateX(3.125vw) rotate(180deg);
    -moz-transform: translateX(3.125vw) rotate(180deg);
    -ms-transform: translateX(3.125vw) rotate(180deg);
    -o-transform: translateX(3.125vw) rotate(180deg);
    transform: translateX(3.125vw) rotate(180deg);
    width: 50%;
}*/


.all-content {
    width: 100%;
    transition: 0.5s;
}

.nav-active {
    width: 90%;
    transition: 0.5s;
    transition-delay: 0.9s;
}



.sidebar nav ul li:first-child a {
    padding-top: 0
}

.sidebar nav ul li:last-child a {
    padding-bottom: 0
}


h1{
    margin-bottom: 0.8vw;
    font-size: 2vw;

}
.orange{
    color: #FDA229;
}
.blue{
    color: #679BD7;
}

#div-logo{
    width: 7%;
    margin: auto;
    position: fixed;
    top: 2vw;
    left: 2vw;
}

.section-home{
    height: 100vh;
    display: flex;
}

.first-section-content{
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    margin-left: 3vw;
    opacity: 0;
    transition: 0.2s;

}
.first-section-content h2{
    font-size: 1.8vw;
    line-height: 2.8vw;
    font-weight: 600;
}

.first-section-content p{
    font-size: 1vw;
    line-height: 1.5vw;
    width: 50%;
    font-weight: 500;
    margin-top: 2%;
}

#first-section-content-2{
    background-image: url("../img/IMG1-HOME.jpg");
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.4s;
}

#div-btn-artent{
    margin-top: 3vw;
    justify-content: space-between;
    -webkit-appearance: none;
}
#div-btn-artent a{
    background-color: #fff;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 3px solid black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8vw;
    margin-right: 2vw;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    outline: none;
    transition: 0.5s;
}

#div-btn-artent a:hover{
    background-color: black;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 3px solid black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8vw;
    margin-right: 2vw;
    cursor: pointer;
    text-decoration: none;
    color: white;
    outline: none;
    transition: 0.5s;
}

.div-btn-proj{
    margin-top: 3vw;
    -webkit-appearance: none;

}
.div-btn-proj button{
    background-color: #fff;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 3px solid black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8vw;
    margin-right: 2vw;
    cursor: pointer;
    transition: 0.5s;
    -webkit-appearance: none;
}

.div-btn-proj button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.second-section-content{
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    margin-left: 3vw;
    opacity: 0;
    transition: 0.2s;
}

.third-section-content{
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    margin-left: 3vw;
    opacity: 0;
    transition: 0.2s;
}

.five-section-content{
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    margin-left: 3vw;
    opacity: 0;
    transition: 0.2s;
}

.fourth-section-content{
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    margin-left: 3vw;
    opacity: 0;
    transition: 0.2s;
}

.connexion-section-content{
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    margin-left: 3vw;
    opacity: 1;
}


.second-section-content h3{
    font-size: 1.9vw;
    line-height: 2.8vw;
    margin-bottom: 3vw;
    text-transform: uppercase;
}

.third-section-content h3{
    font-size: 1.9vw;
    line-height: 2.8vw;
    margin-bottom: 3vw;
}

.five-section-content h3{
    font-size: 1.9vw;
    line-height: 2.8vw;
    margin-bottom: 3vw;
}

.fourth-section-content h3{
    font-size: 1.9vw;
    line-height: 2.8vw;
    margin-bottom: 3vw;
}

.second-section-content p{
    font-size: 1vw;
    line-height: 1.5vw;
    width: 50%;
    font-weight: 500;
}

.third-section-content p{
    font-size: 1vw;
    line-height: 1.5vw;
    width: 50%;
    font-weight: 500;
}

.five-section-content p{
    font-size: 1vw;
    line-height: 1.5vw;
    width: 50%;
    font-weight: 500;
}

.fourth-section-content p{
    font-size: 1vw;
    line-height: 1.5vw;
    width: 50%;
    font-weight: 500;
}



#second-section-content-2{
    background-image: url("../img/IMG2-HOME-ENTREPRISE.jpg");
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.3s;
}
#third-section-content-2{
    background-image: url("../img/IMG4-HOME-ARTISTE.jpg");
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.3s;
}
#five-section-content-2{
    background-image: url("../img/IMG3-HOME-GALLERIE.jpg");
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.3s;
}
#fourth-section-content-2{
    background-image: url("../img/IMG5-HOME-NEWSLETTER.jpg");
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.3s;
}

.img-fadein {
    transition: 0.4s !important;
    transition-delay: 0.5s !important;
    opacity: 1 !important;
}

#connexion-section-2{
    background-image: url("../img/IMG-CONNEXION.jpg");
    width: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#third-section-content{
    width: 70%;
    margin: auto;
    font-size: 2vw;
    text-align: center;
    font-weight: 700;
}

#fourth-section-content{
    width: 70%;
    margin: auto;
    font-size: 1vw;
    text-align: center;
    font-weight: 600;
}

.position-finale {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.5s;
}



#monkey{
    width: 3%;
    display: block;
    margin: auto;
    position: relative;
    top: 23vh;
    animation-name: animation-monkey;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation-monkey {
    0%   {top: 23vh;}
    50%  {top: 26vh;}
    100% {top: 23vh;}
}

/*#monkey::before{
    animation: float 1s ease-in-out infinite alternate;
}*/


/* FORM MAIL */

.mc-field-group{
    text-align: left;

}
form h3{
    text-align: left;
    font-size: 1.9vw;
    line-height: 2.8vw;
    margin-bottom: 3vw;
    font-weight: 600;
}

#mce-EMAIL{
    border: none;
    border-bottom: 3px solid black;
    width: 30%;
    padding: 0.8%;
    -webkit-appearance: none;
}

::placeholder{

    margin-left: 5%;
    font-size: 1vw;
    color: #000;
}

#mce-EMAIL[type=text]{
    font-size:30px;
}
#mc-embedded-subscribe{
    background-color: #fff;
    padding: 7%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border: 3px solid black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8vw;
    margin-top: 3%;
    cursor: pointer;
    transition: 0.5s;
    -webkit-appearance: none;
}

#mc-embedded-subscribe:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
    -webkit-appearance: none;
}


#clear{
    position: relative;
    width: 54%;
    margin: auto;
    height: 30px;
}

#mc_embed_signup_scroll{
    margin-left: 3vw;
}

#copyright {
    width: 50%;
}

#copyright a{
    color: black;
    text-decoration: none;
}

#rs {
    width: 50%;
    margin-left: 17%;
}

#rs a{
    text-decoration: underline;
    color: #000000;
    padding: 8%;
}

footer{
    width: 95%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    color : #000000;
}

footer ul{
    display: flex;
    list-style: none;
    font-weight: 700;
    padding: 1%;
    justify-content: space-around;
}

/* PAGE LOG / Connection */
#background-log{
    display: flex;
    width: 100vw;
    height: 100vh;
}

#section-log{
    width: 50vw;
    height: 40vh;
    margin: auto;
    display: flex;
}

#connection, #inscription{
    width: 50%;
}

label{
    display: block;
}

#connection form, #inscription form{
    width: 70%;
    margin: auto;
}

#connection input{
    width: 100%;
    border: 1px solid black;
    border-radius: 0.5vw;
    padding: 3%;
}

#inscription input{
    width: 100%;
    border: 1px solid black;
    border-radius: 0.5vw;
    padding: 3%;
}

#connection label{
    margin-bottom: 2%;
}

#inscription label{
    margin-bottom: 2%;
}

.form-group-co{
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}



.btn-primary{
    background-color: #679BD7 ;
    color: #fff;
    border: none;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1vw;
}

.none{
    display: none;
}

#form-co{
    width: 80%;
    margin: auto;
}

#form-ins{
    width: 80%;
    margin: auto;
}


.form-group-co input{
    border: none;
    border-bottom: 3px solid black;
    width: 60%;
    padding: 0.8%;
    border-radius: 0;

}

#form-co h2{
    font-size: 1.9vw;
    line-height: 2.8vw;
    margin-bottom: 3vw;
    text-transform: uppercase;
}

#section-co{
    display: flex;
    height: 100vh;
}

#section-ins{
    display: flex;
    height: 100vh;
}

.form-group-co button {
    background-color: #fff;
    padding: 7%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    border: 3px solid black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8vw;
    margin-left: 37%;
    cursor: pointer;
    transition: 0.5s;
    -webkit-appearance: none;
}

.form-group-co button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.link-co{
    text-decoration: underline;
    text-align: right;
    margin: auto;
    color: #679bd7;
    margin-top: 3%;
    display: block;
    width: 25%;
    font-size: 1vw;
}

.inscription-co{
    text-decoration: none;
    color: black;
    margin-top: 8%;
    display: block;
    width: 60%;
    font-size: 1.1vw;
}

.underline{
    height: 0.3vh;
    width: 0%;
    background-color: #fff;
    margin: auto;
    margin-top: 1%;
    transition: 0.5s;
}

.link-co:hover .underline{
    width: 50%;
    transition: 0.5s;
}

.link-inscription {
    text-decoration: underline;
}

input::placeholder{

}

#div-logo-co{
    width: 10%;
    position: absolute;
    top: 3%;
    left: 3%;
}

.form-group-ins input {
    width: 80%;
    padding-bottom: 2%;
    margin-top: 6%;
    border: 0;
    border-radius: 0;
    border-bottom: 3px solid black;
}

#form-ins h2{
    font-size: 1.9vw;
    line-height: 2.8vw;
    margin-bottom: 2vw;
    text-transform: uppercase;

}

#check-box{
    display: flex;
    margin-top: 5%
}
*
.div-check-box{
    display: flex;
    width: 50%;
}
.div-check-box input{
    margin-top: auto;
    margin-bottom: auto;
    width: 15%;
}

.form-group-ins button{
    background-color: #fff;
    padding: 7%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    border: 3px solid black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8vw;
    margin-right: 48%;
    cursor: pointer;
    margin-top: 4%;
    transition: 0.5s;
    -webkit-appearance: none;
}

.form-group-ins button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
    -webkit-appearance: none;
}

#footer{
    display: flex;
}
#body{
    background-color: #fff;
}

.nav-mobile {
    display: none;
}
.closeButton {
    display: none;
}
.button-burger {
    display: none;
}

input::placeholder {
    font-size: 1vw;
}

.div-check {
    display: flex;
    font-size: 1vw;
    flex-direction: row;
    width: 40%;
}

#check-box {
    display: flex;
    margin-top: 3%;
    margin-left: -10%;
    flex-direction: row;
}

#submit-ins {
    width: 100%;
    margin-top: 6%;
    margin-left: -15%;
    -webkit-appearance: none;
}


#title-ml{
    font-family: "Montserrat-Regular", sans-serif;
    color: #000;
    font-size: 1.6vw;
    font-weight: 700;
    margin-top: 8%;
}

#section-ml {
    width: 70%;
    margin-left: 5%;
}

#text-ml {
    font-family: "Montserrat-Regular", sans-serif;
    color: #000;
    font-size: 0.9vw;
}


@media not all and (min-resolution:.001dpcm) {
    @media {
        .safari_only {

        #check-box {
            display: flex;
            margin-top: 3%;
            margin-left: 0;
        }

        #submit-ins {
            width: 100%;
            margin-top: 6%;
            margin-left: -18%;
            -webkit-appearance: none;
        }

    }
}

}

.section-profil{
    display: flex;
}

.left-bar{
    position: absolute;
    left: 0;
    background-color: #f6f6f6;
    height: 100vh;
    width: 14vw;
}

.left-bar-mobile {
    display: none;
}

.left-bar-mobile button {
    display: block;
    background-color: transparent;
    border: none;
    margin: auto;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.7s;
    height: 5vh;
    margin-top: 16%;
}

.left-bar button{
    display: block;
    background-color: transparent;
    border: none;
    margin: auto;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.7s;
    height: 5vh;
    margin-top: 16%;
}

.cont-btn-profil{
    position: relative;
    display: flex;
    width: 100%;
    margin-left: 2%;
    margin-top: 10%;
}

.img-fleche-gauche {
    width: 1%;
    margin-right: 2%;
}

.img-deconnexion {
    width: 7%;
    margin-right: 5%;
}

.deconnexion {
    display: block;
    position: absolute;
    bottom: 2%;
    left: 8%;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    font-weight: 500;
    opacity: 1;
}

.deconnexion:hover {
    opacity: 0.7;
    transition: 0.4s;
}

.side-color {
    position: absolute;
    background-color: #679bd7;
    left: -2%;
    top: 28%;
    width: 5%;
    height: 8vh;
}

.orange-background {
    background-color: #fda229 !important;

}

.blue {
    color: #679bd7 !important;
}


.left-button-active{
    opacity: 1 !important;
    font-weight: 600 !important;
}

.content-left{
    margin: auto;
    width: 100%;
    margin-top: 6vh;
    text-align: center;
}

.profil-container{
    width: 55%;
    height: auto;
    margin: auto;
    margin-left: 21%;
}

#div-logo-profil{
    width: 80%;
    margin: auto;
    top: 2vw;
    left: 2vw;
}

.complete-profil{
    width: 70%;
}
.flex-form div{
    width: 45%;
}

.complete-profil label{
    margin-bottom: 2%;
}


.flex-form{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 4%;
}

.profil-container h2{
    color: #fda229;
    margin-bottom: 3%;
    font-size: 2.2vw;
    font-weight: 600;
}

.no-visible-form {
    visibility: hidden;
}

.section-profil input{
    width: 100%;
    padding: 0.4vw;
    border: 0.5px solid black;
}

.section-profil textarea{
    width: 100%;
    padding: 0.5vw;
    border: 0.5px solid black;
    resize: none;
    height: 12vh;
}

.section-profil form{
    width: 70%;
}

.section-profil label{
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 1.2vw;
}

.section-profil select:after{
    padding: 0.5vw;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 0;
}

#ident-ent{
    margin-top: 10vh;
}

#ident-ent h3{
    margin-bottom: 3%;
    font-size: 1.5vw;
}

.image-right{
    width: 30vw;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.4s;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
}

#image-right-art{
    background-image: url(../img/IMG-ESPACE-ARTISTE.jpg);
}

#image-right-ent{
    background-image: url(../img/IMG-ESPACE-ENTREPRISE.jpg);
}

.save{
    background-color: #fff;
    padding: 4vw;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    border: 3px solid black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8vw;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    outline: none;
    transition: 0.5s;
    position: absolute;
    right: -1vw;
    margin-top: 2%;
}

.save:hover{
    background-color: #000;
    color: #fff;
    transition: 0.4s;
}

#profil_ent_secteur {
    width: 50%;
    color: grey;
    font-size: 1.1vw;
    padding: 1%;
}

.btn-form-profil{
    position: relative;
    margin-top: 1vw;
}

.side-visible{
    width: 0.4vw;
    transition: 0.7s;
}

.h3-profil {
    font-size: 1.3vw;
    font-weight: 600;
    margin-top: -3%;
}

.profil-container a {
    text-decoration: none;
    color: black;
    position: absolute;
    width: 65%;
    top: 7%;
}


#realisations_realisations {  display: none}

.file_label {
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 3vw;
    width: 3vw;
    height: 3vw;
    line-height: 40px;
    background-color: #fda229;
    color: #FFF;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease-in-out
}

.file_label:hover {
    background-color: #f39c12;
    color: #ffffff;
}
.fa {
    margin-right: 5px
}
#label_real{
    font-size: 3vw;
}

.div-img{
    width: 30%;
}
.container-img{
    display: flex;
    justify-content: space-between;
}
.div-img img{
    width: 100%;
}
#img-real{
    width: 80%;
}
#realisations{
    margin-top: 5%;
    margin-bottom: 5%;
}
#realisations_save{
    position: initial;
    display: block;
    margin-bottom: auto;
    margin-top: auto;
}
#form-content-real{
    position: relative;
    display: flex;
    justify-content: space-between;
}