
{% extends "base-2.html.twig" %}
{% block layout_content %}
    <div id="div-logo">
        <a href="/"><svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252.6 94.4"><title>Fichier 4</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path d="M0,4.2H16.2V61H51.3V74.2H0Z"/><path d="M113.1,20.4V74.2H98.3V67.8a20.78,20.78,0,0,1-7.4,5.35A23.36,23.36,0,0,1,81.6,75Q71,75,64.8,68.9T58.6,50.8V20.4H74.2V48.5q0,13,10.9,13a11.74,11.74,0,0,0,9-3.65Q97.49,54.21,97.5,47V20.4Z"/><path d="M183.1,20.4V65.2q0,14.8-7.7,22t-22.5,7.2a56.1,56.1,0,0,1-14.8-1.9A32.33,32.33,0,0,1,126.5,87l6.2-11.2a25.36,25.36,0,0,0,8.6,4.45,34.17,34.17,0,0,0,10.4,1.65q8.1,0,12-3.65t3.85-11V64.9q-6.1,6.7-17,6.7A28.49,28.49,0,0,1,137,68.35a24.82,24.82,0,0,1-9.75-9.15,25.58,25.58,0,0,1-3.6-13.6A25.58,25.58,0,0,1,127.2,32,24.82,24.82,0,0,1,137,22.85,28.49,28.49,0,0,1,150.5,19.6q11.7,0,17.8,7.7V20.4ZM163.75,55.15a12.41,12.41,0,0,0,3.95-9.55,12.41,12.41,0,0,0-3.95-9.55,16,16,0,0,0-20.35,0,12.31,12.31,0,0,0-4,9.55,12.31,12.31,0,0,0,4,9.55,16,16,0,0,0,20.35,0Z"/><path d="M246.45,25.6q6.15,6,6.15,17.8V74.2H237V45.8q0-6.4-2.8-9.55t-8.1-3.15a12.41,12.41,0,0,0-9.4,3.65q-3.51,3.64-3.5,10.85V74.2H197.6V0h15.6V26a20.59,20.59,0,0,1,7.5-4.75,27.11,27.11,0,0,1,9.6-1.65Q240.29,19.6,246.45,25.6Z"/></g></g></svg>
        </a>
    </div>
<section class="section">
    <div class="section-error">
        <div class="flex-error">
        <svg id="singe-404" viewBox="0 0 195 159" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
            <title>Group 6</title>
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="0 0 194.422401 0 194.422401 158.418253 0 158.418253"></polygon>
            </defs>
            <g id="home-" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="tête-de-singe" transform="translate(-615.000000, -619.000000)">
                    <g id="Group-6" transform="translate(615.000000, 619.000000)">
                        <g id="Group-Copy-8">
                            <g id="Page-1">
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <g id="Clip-2"></g>
                                <path d="M165.466149,100.782926 C167.381066,92.6322195 168.016221,83.9947193 167.142621,75.1486453 C166.611458,69.7746924 165.540029,64.5980687 164.013067,59.6579423 C175.521828,59.649244 185.216863,67.3592249 186.254679,77.8644593 C187.369525,89.152118 178.070149,99.3856622 165.466149,100.782926 M144.301569,103.425467 C145.665365,106.994802 146.405212,110.77924 146.405212,114.701881 C146.405212,136.128772 124.523194,153.49881 97.5305285,153.49881 C70.537513,153.49881 48.6554953,136.128772 48.6554953,114.701881 C48.6554953,110.898581 49.3568263,107.226954 50.6421913,103.753382 C42.1057709,98.0475244 36.4398007,88.1284734 36.4398007,76.8212269 C36.4398007,59.1189221 50.2924012,44.767947 67.3802979,44.767947 C81.658669,44.767947 93.6446715,54.8012602 97.2112006,68.4238588 C100.77773,54.8012602 112.763732,44.767947 127.042103,44.767947 C144.13,44.767947 157.9826,59.1189221 157.9826,76.8212269 C157.9826,87.9028508 152.553325,97.6688266 144.301569,103.425467 M27.9261394,83.9406715 C27.9261394,89.3425551 28.4835628,94.6051476 29.5175271,99.6805676 C18.0672392,98.4759171 9.17997823,89.7836436 9.17997823,79.2232731 C9.17997823,67.876851 19.4362877,58.6767453 32.1120667,58.6158055 C29.4068827,66.52239 27.9261394,75.048167 27.9261394,83.9406715 M168.124064,50.4248349 C165.703894,50.4248349 163.370909,50.8100619 161.145068,51.476773 C151.624403,30.6266341 133.191967,15.1856335 111.078157,10.6608487 L113.498326,5.9205979 L101.198598,9.26721206 L107.286488,0 C107.286488,0 73.6590137,5.38302125 52.281198,26.7475216 C44.6236298,33.5499339 38.3456143,42.0332707 33.9765637,51.6722884 C31.5469402,50.8659235 28.9702578,50.4248349 26.2983372,50.4248349 C11.7741677,50.4248349 0,63.2428822 0,79.0546003 C0,94.8663184 11.7741677,107.684366 26.2983372,107.684366 C27.7836323,107.684366 29.2307622,107.518232 30.6491805,107.260326 C39.9349011,136.970686 66.3925522,158.418253 97.604058,158.418253 C128.771796,158.418253 155.198635,137.030174 164.51937,107.384382 C165.701093,107.561398 166.897873,107.684366 168.124064,107.684366 C182.648233,107.684366 194.422401,94.8663184 194.422401,79.0546003 C194.422401,63.2428822 182.648233,50.4248349 168.124064,50.4248349" id="Fill-1" fill="#000000" mask="url(#mask-2)"></path>
                            </g>
                        </g>
                        <ellipse id="Oval-2-Copy-7" fill="#242121" cx="99" cy="123" rx="25" ry="11"></ellipse>
                        <path d="M66.1820315,74.2451238 L74.3664952,66.0606602 L75.4271553,65 L77.5484757,67.1213203 L76.4878155,68.1819805 L68.3033519,76.3664441 L76.1819805,84.2450728 L77.2426407,85.305733 L75.1213203,87.4270533 L74.0606602,86.3663931 L66.1820315,78.4877645 L58.7426917,85.9271043 L57.6820315,86.9877645 L55.5607112,84.8664441 L56.6213714,83.805784 L64.0607112,76.3664441 L56.0606602,68.3663931 L55,67.305733 L57.1213203,65.1844126 L58.1819805,66.2450728 L66.1820315,74.2451238 Z" id="Combined-Shape" fill="#000000"></path>
                        <path d="M128.182032,74.2451238 L136.366495,66.0606602 L137.427155,65 L139.548476,67.1213203 L138.487816,68.1819805 L130.303352,76.3664441 L138.181981,84.2450728 L139.242641,85.305733 L137.12132,87.4270533 L136.06066,86.3663931 L128.182032,78.4877645 L120.742692,85.9271043 L119.682032,86.9877645 L117.560711,84.8664441 L118.621371,83.805784 L126.060711,76.3664441 L118.06066,68.3663931 L117,67.305733 L119.12132,65.1844126 L120.181981,66.2450728 L128.182032,74.2451238 Z" id="Combined-Shape-Copy" fill="#000000"></path>
                    </g>
                </g>
            </g>
        </svg>
<h2>404</h2>
        </div>
<p>Oups … Cette page n’a toujours pas<br>
    été imaginé par un artiste !   </p>
    <a class="" href="/" data-text="home">revenir</a>

    </div>
    <div id="first-section-error-2" class="background-right img-fadein"></div>
</section>
{% endblock %}