{% extends "base.html.twig" %}
{% block layout_content %}



    <div id="fullpage">


        <section id="first-section" class="first-section section" data-midnight="default" data-anchor="slide1">
            <div id="first-section-content">
                <h1>LUGH</h1>
                <h2>La plateforme créative qui réunit<br>
                    <span class="orange">artistes</span> et <span class="blue">entreprises</span></h2>
                <div id="div-btn-artent">
                    <a href="#slide2" class="js-scrollTo">Je suis une entreprise</a>
                    <a href="#slide3" class="js-scrollTo">Je suis un artiste</a>
                </div>

            </div>
            <div id="first-section-content-2" class="background-right"></div>
        </section>

        <section id="second-section" class="section reveal" data-midnight="white" data-anchor="slide2">

            <div class="second-section-content">
                <h3>CHOISISSEZ L’ART<br>
                    POUR ÊTRE UNIQUE !</h3>
                <p>Avec Lugh, trouvez le <span class="blue">projet artistique</span> qui correspond à votre entreprise pour véhiculer et mettre en avant vos <span class="blue">valeurs</span>.

                    <br>  <br>Déposez un appel à projet en ligne et sélectionnez la meilleure proposition pour vos locaux. Bénéficiez ainsi d’une oeuvre qui vous ressemble et vecteur de communication.</p>
                <div class="div-btn-proj">
                    <button>Déposer un projet</button>
                </div>

            </div>
            <div id="second-section-content-2" class="background-right"></div>
        </section>
        <section id="third-section" class="section reveal" data-midnight="black" data-anchor="slide3">

            <div class="third-section-content">
                <h3>CRÉEZ ET EXPOSEZ<br>
                    SANS RIEN DÉPENSER !</h3>
                <p>Vous souhaitez mettre en avant votre <span class="orange">talent</span> et bénéficiez d’une <span class="orange">exposition</span> ?<br><br>

                    Ces entreprises n’attendent plus que vous pour mettre
                    en avant leur personnalité. Proposez votre savoir-faire
                    à l’entreprise et au projet qui vous correspond.</p>
                <div class="div-btn-proj">
                    <button>TROUVER MON PROJET</button>
                </div>

            </div>
            <div id="third-section-content-2" class="background-right"></div>
        </section>
        <section id="five-section" class="section reveal" data-midnight="white" data-anchor="slide4">

            <div class="five-section-content">
                <h3>INSPIREZ-VOUS DE<br>
                    NOS RÉALISATIONS UNIQUES !</h3>
                <p>Découvrez comment nos <span class="orange">artistes</span> ont su mettre en avant
                    les valeurs de ces <span class="blue">entreprises</span>.<br><br>

                    Chaque entreprise et chaque artiste sont uniques.
                    C’est pourquoi, l’association de la personnalité de l’un
                    et des valeurs de l’autre constitue des projets exceptionnels.</p>
                <div class="div-btn-proj">
                    <button>NOS RÉALISATIONS</button>
                </div>

            </div>
            <div id="five-section-content-2" class="background-right"></div>
        </section>
        <section id="fourth-section" class="section reveal" data-midnight="white" data-anchor="slide5">
            <div class="fourth-section-content">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://lugh-france.us18.list-manage.com/subscribe/post?u=5409c1dcec9fe953676d330f0&amp;id=0d34c28f96" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h3>Continuez à nous suivre pour rester<br>
                                informé de l’actualité </h3>
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Votre e-mail">
                                <input type="submit" value="envoyer" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
            <div id="fourth-section-content-2" class="background-right"></div>

        </section>
    </div>

{% endblock %}