{% extends "base.html.twig" %}
{% block layout_content %}



    <div id="fullpage">


        <section id="first-section" class="first-section section" data-midnight="default" data-anchor="slide1">
            <div class="first-section-content position-finale">
               <h2>LUGH RÉUNIT ARTISTES <br>ET ENTREPRISES</span> !
                </h2>

                <p>Vous êtes à la recherche d’une communication différente et valorisante pour votre entreprise ? Vous cherchez une scène pour votre talent et vos oeuvres ? Laissez nous un message !</p>
                <form id="form-contact" name="form" method="post">
                    <div id="form">
                            <div class="form-group-contact">
                            <input type="text" id="form_nom" name="form[nom]" placeholder="Nom" required="required"/>
                            </div>
                            <div class="form-group-contact">
                                <input type="email" id="form_from" name="form[from]" placeholder="Votre e-mail"/>
                            </div>


                        <div class="form-group-contact">
                            <textarea id="form_message" name="form[message]" placeholder="Votre message" required="required">
                            </textarea>
                        </div>
                        <div class="form-group-contact-btn">
                            <button type="submit" id="form_send" name="form[send]">Envoyer</button>
                        </div>
                        {{ form_row(form._token) }}
                    </div>
                </form>
            </div>
            <div id="first-section-content-2" class="background-right img-fadein"></div>


            <footer id="footer">
                <div id="copyright">
                    <ul>
                        <li>© Lugh</li>
                        <li>Presse</li>
                        <li>Livre Blanc</li>
                        <li><a href="/mentions">Mentions Légales</a></li>
                    </ul>
                </div>
                <div id="rs">
                    <ul>
                        <li><a target="_blank" href="https://twitter.com/Hello_lugh">twitter</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/Lugh-art-sur-commande-en-entreprise-567883830278473/">facebook</a></li>
                        <li><a target="_blank" href="https://www.instagram.com/lugh_france/">instagram</a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/company/lugh-entreprise/">linkedin</a></li>
                        <li><a target="_blank" href="https://medium.com/@lugh.entreprise">medium</a></li>
                    </ul>
                </div>
            </footer>

        </section>


    </div>


{% endblock %}